{% extends 'layout.html' %}
{% load static %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-color: #0085A1">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Bienvenue</h1>
                    <span class="subheading">L'association des Joueurs de Rantzwiller est heureuse de vous accueillir sur son site internet.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- News Posts -->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    {% if user.is_club == True %}
                    <div class="title">
                        <h3>Save your spot</h3>
                    </div>
                    <select class="form-control" id="location" name="location" type="text" placeholder="Country...">
                        <option value=None>Select your training location</option>
                        {% for location in locations %}
                        <option value={{location.0}}>{{location.1}}</option>
                        {% endfor %}
                    <label for=location>Location</label>
                    </select>
                    </div>
                    {% endif %}
                </div>
            </div> 
        </div>
    </div>
</main>
{% endblock %}