{% extends 'layout.html' %}
{% load static %}
{% block body %}

<script>
    window.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#personnal-btn').addEventListener('click', () => sectionDisplay ('#personnal'));
        document.querySelector('#game-btn').addEventListener('click', () => sectionDisplay ('#add-game'));
        document.querySelector('#games-btn').addEventListener('click', () => sectionDisplay ('#my-games'));
        document.querySelector('#modify_info').addEventListener('click', function() {
            document.querySelector('#current_info').style.display = 'none';
            document.querySelector('#modif_info').style.display = 'block';
            document.querySelector('#modif_password').style.display = 'none';
        });
        document.querySelector('#modify_password').addEventListener('click', function() {
            document.querySelector('#current_info').style.display = 'none';
            document.querySelector('#modif_info').style.display = 'none'
            document.querySelector('#modif_password').style.display = 'block';
        });
        document.querySelector('#news-btn').addEventListener('click', () => sectionDisplay ('#add-news'));
    
    function sectionDisplay(id) {
        var elements = document.querySelectorAll('.section')
        elements.forEach(element => element.style.display = 'none');
        document.querySelector(id).style.display = 'block';
        document.querySelector('#current_info').style.display = 'block';
        document.querySelector('#modif_info').style.display = 'none';
        document.querySelector('#modif_password').style.display = 'none'
    };
});

</script>

<!-- Page Header-->
<header class="masthead" style="background-color: #0085A1">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Profil</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<main style="display: flex;">

    <!-- Left-side Nav Menu -->
    <div class="sidebar">
        <ul style="text-align: left;">
            <li><button type="button" class="btn btn-primary" id="personnal-btn">Profil</button></li>
            {% if user.is_club %}
            <li><button type="button" class="btn btn-primary" id="plane-btn">Add a plane</button></li>
            {% endif %}
            {% if user.is_approach %}
            <li><button type="button" class="btn btn-primary" id="satellite-btn">Ajouter un terrain satellite</button></li>
            {% endif %}
            {% if user.is_airport_man %}
            <li><button type="button" class="btn btn-primary" id="airport-btn">Add an airport</button></li>
            {% endif %}            
        </ul>
    </div>

    <!-- Profil Content -->
    <div class="mb-4 section" id="personnal">
        <div class="container px-4 px-lg-5" id="current_info">
            <table class="table">
                <h3>Your details</h3>
                {% if messages %}
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                {% endif %}
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{user.phone}}</td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td>{{user.phone}}</td>
                    </tr>
                    {% if user.is_club or user.is_airport_man %}
                    <tr>
                        <td>Adress</td>
                        <td>{{user.adress}}</button></td>
                    </tr>
                    {% endif %}
                    {% if user.is_club %}
                    <tr>
                        <td>Country</td>
                        <td>{{user.country}}</button></td>
                    </tr>
                    {% endif %}
                </tbody>
                
            </table>
        </div>

        <!-- Edit details -->
        <div class="container px-4 px-lg-5" style="display:none;" id="modif_info">
            <form action="/modify" method="POST" >
                {% csrf_token %}
                <table class="table">
                    <h3>Fill your new informations</h3>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td><input name="email" type="email" required/></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><input name="phone" type="tel" required/></td>
                        </tr>
                        {% if user.is_club or user.is_airport_man %}
                        <tr>
                            <td>Adress</td>
                            <td><input name="adress" type="text" required/></td>
                        </tr>
                        {% endif %}
                        {% if user.is_club %}
                        <tr>
                            <td>Country</td>
                            <td><input name="country" type="text" required/></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div style="max-width: 200px; margin: auto;"><button class="btn btn-primary" style="border-radius: 20%; margin: 15px;" type="submit">Send</button></div>
            </form>
        </div>

    <!-- Add a Game From-->
    <div class="mb-4 section" id="add-plane" style="display:none;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <div class="alert alert-danger" role="alert">{{message}}</div>  
                        <form action="/profil" method="POST">
                            {% csrf_token %}
                            <div class="form-floating">
                                <input class="form-control" id="registration" name="registration" type="text" placeholder="Registration ?"/>
                                <label for="registration">Registration</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="maker" name="maker" type="text" placeholder="Maker ?"/>
                                <label for="maker">Maker</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="model" name="model" type="text" placeholder="Model ?"/>
                                <label for="model">Model</label>
                            </div>
                            <input type="hidden" name="owner" value="{{user.id}}">
                            <div style="max-width: 200px; margin: auto;"><button class="btn btn-primary" style="border-radius: 20%; margin: 15px;" id="submitButton" type="submit">Envoyer</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Writing a news -->
    <div class="mb-4 section" id="add-news"  style="display:none;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <div class="alert alert-danger" role="alert">{{message}}</div>  
                        <form action="/index" method="POST">
                            {% csrf_token %}
                            <div class="form-floating" >
                                <input type="text" class="form-control" id="text" name="text"  placeholder="News"/>
                                <label for="text">Texte</label>
                            </div>
                            <div style="max-width: 200px; margin: auto;"><button class="btn btn-primary" style="border-radius: 20%; margin: 15px;" id="submitButton" type="submit">Envoyer</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- My Games -->
    <div class="row mb-2 section" id="my-games" style="display:none;">
        {% for game in games %}
            <div class="col-md-6 jeu '{{game.genre}}'' " style="float: left;">
                <a class="text-dark" href="{% url 'game' game.title %}">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250" >
                        <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary category">{{game.genre}}</strong>
                        <h3 class="mb-0">{{game.title}}</h3>
                        {% if game.extension %}
                        <div class="mb-1 text-muted">Extension</div>
                        {% endif %}
                        <p class="card-text mb-auto">{{ game.description|truncatechars:250 }}</p>
                        <strong class="d-inline-block mb-2 text-primary">A partir de <strong class="age">{{game.min_age}}</strong> ans</strong>
                        </div>
                        <img class="card-img-right flex d-none d-md-block" height="200px" style="margin-top: 10px; margin-right: 5px;" src="{{game.cover}}">
                    </div>
                </a>
            </div>
        {%endfor%}  
    </div>
</main>

{% endblock %}
